

<!--Belka nad terminarzem-->
<div class="jumbotron jumbotron-fluid calendar-header">
  <div class="col-12 narrow text-center">
    <h1 class="display-4">Terminarz</h1>
    <hr class="dark">
  </div>
</div>

<div class="background-img2"></div>

<!--- Three Column Section -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 months">
      <div class="jzdbox1 jzdbasf jzdcal">

        <div class="jzdcalt">Lipiec 2019</div>

        <span>PN</span>
        <span>WT</span>
        <span>ŚR</span>
        <span>CZ</span>
        <span>PT</span>
        <span>SO</span>
        <span>N</span>



        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>6</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>7</span>
        <span>8</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>9</span>
        <span>10</span>
        <span>11</span>
        <span>12</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>13</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>14</span>
        <span>15</span>
        <span>16</span>
        <span>17</span>
        <span>18</span>
        <span>19</span>
        <span>20</span>
        <span>21</span>
        <span>22</span>
        <span>23</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>24</span>
        <span>25</span>
        <span>26</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>27</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>28</span>
        <span>29</span>
        <span>30</span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
      </div>

      <div class="jzdbox1 jzdbasf jzdcal">

        <div class="jzdcalt">Październik 2019</div>

        <span>PN</span>
        <span>WT</span>
        <span>ŚR</span>
        <span>CZ</span>
        <span>PT</span>
        <span>SO</span>
        <span>N</span>


        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>5</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>6</span>
        <span>7</span>
        <span>8</span>
        <span class="circle" data-title="Zarezerwowane">9</span>
        <span>10</span>
        <span>11</span>
        <span>12</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>13</span>
        <span>14</span>
        <span>15</span>
        <span>16</span>
        <span>17</span>
        <span>18</span>
        <span>19</span>
        <span>20</span>
        <span>21</span>
        <span>22</span>
        <span>23</span>
        <span class="circle" data-title="Zarezerwowane">24</span>
        <span>25</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>26</span>
        <span>27</span>
        <span>28</span>
        <span>29</span>
        <span>30</span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
      </div>

    </div>
    <div class="col-md-4 months">
      <div class="jzdbox1 jzdbasf jzdcal">

        <div class="jzdcalt">Sierpień 2019</div>

        <span>PN</span>
        <span>WT</span>
        <span>ŚR</span>
        <span>CZ</span>
        <span>PT</span>
        <span>SO</span>
        <span>N</span>


        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span class="circle" data-title="Zarezerwowane">6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>10</span>
        <span>11</span>
        <span>12</span>
        <span>13</span>
        <span>14</span>
        <span>15</span>
        <span>16</span>
        <span>17</span>
        <span>18</span>
        <span>19</span>
        <span>20</span>
        <span>21</span>
        <span>22</span>
        <span>23</span>
        <span class="circle" data-title="Zarezerwowane">24</span>
        <span>25</span>
        <span>26</span>
        <span>27</span>
        <span class="circle" data-title="Zarezerwowane">28</span>
        <span>29</span>
        <span>30</span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
      </div>

      <div class="jzdbox1 jzdbasf jzdcal">

        <div class="jzdcalt">Listopad 2019</div>

        <span>PN</span>
        <span>WT</span>
        <span>ŚR</span>
        <span>CZ</span>
        <span>PT</span>
        <span>SO</span>
        <span>N</span>


        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span>1</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span class="circle" data-title="Zarezerwowane">9</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>10</span>
        <span>11</span>
        <span>12</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>13</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>14</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>15</span>
        <span class="circle" data-title="Zarezerwowane">16</span>
        <span class="circle" data-title="Zarezerwowane">17</span>
        <span>18</span>
        <span>19</span>
        <span>20</span>
        <span>21</span>
        <span>22</span>
        <span>23</span>
        <span class="circle" data-title="Zarezerwowane">24</span>
        <span class="circle" data-title="Zarezerwowane">25</span>
        <span class="circle" data-title="Zarezerwowane">26</span>
        <span class="circle" data-title="Zarezerwowane">27</span>
        <span class="circle" data-title="Zarezerwowane">28</span>
        <span>29</span>
        <span>30</span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
      </div>

    </div>
    <div class="col-md-4 months">
      <div class="jzdbox1 jzdbasf jzdcal">

        <div class="jzdcalt">Wrzesień 2019</div>

        <span>PN</span>
        <span>WT</span>
        <span>ŚR</span>
        <span>CZ</span>
        <span>PT</span>
        <span>SO</span>
        <span>N</span>


        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span class="circle" data-title="Zarezerwowane">6</span>
        <span class="circle" data-title="Zarezerwowane">7</span>
        <span>8</span>
        <span class="circle" data-title="Zarezerwowane">9</span>
        <span>10</span>
        <span>11</span>
        <span>12</span>
        <span class="circle" data-title="Zarezerwowane">13</span>
        <span class="circle" data-title="Zarezerwowane">14</span>
        <span>15</span>
        <span>16</span>
        <span>17</span>
        <span>18</span>
        <span>19</span>
        <span>20</span>
        <span>21</span>
        <span>22</span>
        <span>23</span>
        <span class="circle" data-title="Zarezerwowane">24</span>
        <span>25</span>
        <span>26</span>
        <span class="circle" data-title="Zarezerwowane">27</span>
        <span class="circle" data-title="Zarezerwowane">28</span>
        <span>29</span>
        <span>30</span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
      </div>

      <div class="jzdbox1 jzdbasf jzdcal">

        <div class="jzdcalt">Grudzień 2019</div>

        <span>PN</span>
        <span>WT</span>
        <span>ŚR</span>
        <span>CZ</span>
        <span>PT</span>
        <span>SO</span>
        <span>N</span>


        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>1</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>2</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>3</span>
        <span>4</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>5</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>6</span>
        <span class="circle" data-title="Zarezerwowane">7</span>
        <span>8</span>
        <span class="circle" data-title="Zarezerwowane">9</span>
        <span>10</span>
        <span>11</span>
        <span>12</span>
        <span class="circle" data-title="Zarezerwowane">13</span>
        <span class="circle" data-title="Zarezerwowane">14</span>
        <span>15</span>
        <span>16</span>
        <span>17</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>18</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>19</span>
        <span>20</span>
        <span>21</span>
        <span>22</span>
        <span>23</span>
        <span>24</span>
        <span>25</span>
        <span>26</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>27</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>28</span>
        <span class="circle" data-title="Zarezerwowane"><span class="crossline"></span>29</span>
        <span>30</span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
        <span class="jzdb">
            <!--BLANK--></span>
      </div>
    </div>
  </div>
</div>

<div ></div>

<!--Belka pod kalendarzem-->
<div class="jumbotron jumbotron-fluid calendar-footer">
  <div class="col-12 narrow text-center">
    <p class="lead">Przekreślone terminy są terminami zarezerwowanymi. W celu rezerwacji terminu wyślij formularz
      zgłoszeniowy. Liczy się kolejność zgłoszeń.</p>
  </div>
</div>

<!--- Footer -->
<app-footer></app-footer>

<!-- JAVA SCRIPT -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="js/Scroll.js"></script>

