<footer class="mt-auto">
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <img src='assets/Foto/logo.png' alt="Logotyp">
        <hr class="light">
        <p>721-935-316</p>
        <p>rafal.fracz13@gmail.com</p>
        <p>Gajowa 72</p>
        <p>Wrocław, Krzyki</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Parę krótkich słów..</h5>
        <hr class="light">
        <p>Jestem pasjonatem fotografii, piękna i podróży.</p>
        <p>Fotografowanie to nie tylko praca, to uwiecznianie chwil, które są dla nas wyjątkowe.</p>
        <p>Dzięki niej możemy wracać do tego, co chcieliśmy zapamiętać.</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Follow me:</h5>
        <hr class="light">
        <p>FB</p>
        <p>IG</p>
        <p>LIN</p>
        <p>Pin</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>&copy; RavFoto.com</h5>
      </div>
    </div>
  </div>
</footer>
