
hr.dark{
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: .1rem;
}
hr.light{
  border-top: 2px solid #ececec;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: .1rem;
}

textarea{
  outline: none;
  width: 100%;
  resize: none;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 12px;
  margin-bottom: 20px;
}


/*--- PORTFOLIO ---*/

/* .galery{
    background-color: #3f3f3f;
} */
.picture{
  margin: 0!important;
  padding: 0!important;
  overflow: hidden;
  text-align: center;
}
.picture img{
  width: 100%;
  height: auto;
  border: 1px solid #000;
}
