/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato:wght@400;700&family=Lora:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@400;500;700&family=Tangerine:wght@400;700&display=swap');



:root{
  --clr-main:  #29c2a8;
  --clr-main-dark: #24aa94;
}

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #40474e;
  margin: 0;
  padding: 0;
}
hr{
  width: 95%;
  margin-top: .3rem;
  margin-bottom: .1rem;
}
hr.dark{
  border-top: 2px solid #b4b4b4;
}
hr.light{
  border-top: 2px solid #ececec;
}
hr.separator{
  border-bottom: 1px solid rgb(134, 134, 134);
  width: 50%;
}
.alert{
  font-weight: bold;
}
.btn-info{
  background-color: var(--clr-main)!important;
  border-color: var(--clr-main)!important;
}
.btn-info:active,
.btn-info:hover{
  background-color: var(--clr-main-dark)!important;
}
.custom-file{
  margin-top: 1rem!important;
}
input:focus,
textarea:focus{
  outline: none!important;
  box-shadow: none!important;
  border-color: var(--clr-main)!important;
  box-shadow: 0 0 0 .2rem rgba(41, 194, 168, .25)!important;
}

.bg-img
{
  background: url("assets/Foto/postBG.jpg") no-repeat center center fixed;;
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

