
<div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
  <div class="card mb-2">
    <div class="card-body p-2 p-sm-3">
      <div class="media forum-item">
        <div class="media-body">
          <h3><a data-toggle="collapse" data-target=".forum-content" class="text-body"(click)="RouteToPost(post)">{{post.Title}}</a></h3>
          <i class="far fa-user">  Autor: {{post.Author}}</i>
          <div  [innerHTML]="post.Content"></div>
        </div>
        <div class="text-muted small text-center align-self-center ">
          <span class="d-none d-sm-inline-block"><i class="far fa-eye"></i> {{view}} &nbsp; </span>
          <span class="d-none d-sm-inline-block"><i class="far fa-comment-alt"></i> {{post.CommentCount}}</span>
        </div>
      </div>
      <span><i class="far fa-calendar ml-2"></i> {{post.Date}}</span>
    </div>
  </div>
</div>
