
<div class="wrapper" *ngIf="article">

<div *ngIf="article.Img" class="image" [style.background-image] = "'url('+getArticleImage()+')'">
            <div class="overlay-content">
                <h1  aria-multiline='true' class="overlay-title">{{article.Title}}</h1>
                <p class="overlay-meta"> {{article.Date}}</p>
                <p class="overlay-meta">{{article.Author}}</p>
            </div>
    </div>
    <div class="post-content">
        <div class="shadow-box"></div>
        <div class="post-text">
            <h2>{{article.Title}}</h2>

          <div [innerHTML]="article.Content"></div>

        </div>

    </div>
</div>
