<div class="container">
    <h3 class="section-title">Moje albumy</h3>
    <div class="albums-empty" *ngIf="albums.length == 0">
        <h4>Nie masz jeszcze żadnych albumów </h4>
        <a class="btn btn-info btn-add" routerLink='new'>Dodaj</a>
    </div>
  <div class="row">
    <div *ngIf="albums" class="albums">
        <div class="card-columns">
          <div class="card " *ngFor="let album of albums">
            <img src="{{album.ImgPaths[0].Path}}" class="card-img-top" alt="Jedno ze zdjęć albumu">
            <div class="card-body" >
              <h5 class="card-title">{{album.Title}}</h5>
              <p class="card-text">{{album.Description}}</p>
              <a (click)="RemoveAlbum(album)"  class="btn btn-danger">Usuń</a>
              <a (click)="RouteToAlbum(album)"  class="btn btn-primary">Przeglądaj</a>
            </div>
          </div>
        </div>
    </div>

<!--            <div class="card" *ngFor="let album of albums">-->
<!--                <img src="{{album.ImgPaths[0].Path}}" class="card-img-top" alt="Jedno ze zdjęć albumu">-->
<!--                <div class="card-body">-->
<!--                  <h5 class="card-title">{{album.Title}}</h5>-->
<!--                  <p class="card-text">{{album.Description}}</p>-->
<!--                  <a (click)="RemoveAlbum(album)"  class="btn btn-danger">Usuń</a>-->
<!--                  <a (click)="RouteToAlbum(album)"  class="btn btn-primary">Przeglądaj</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
    </div>
            <a class="btn btn-info new" routerLink='new'>Nowy album</a>

</div>


