<li class="list-group-item article-item">
    <div class="article-details">
        <img src="{{article.image.imageSrc}}" alt="">
        <p class="text-muted">{{article.date}}</p>
        <p>{{article.title}}</p>
    </div>
    <div class="buttons">
        <a 
        [routerLink]="['/dashboard/edytuj-artykul', article.id]"
        class="btn btn-info edit">
        Edytuj</a>
        <a 
            routerLink='/detail/{{article.id}}'
            class="btn btn-primary preview">
           Podgląd</a>
        <button (click)="onDelete(article)" class="btn btn-danger delete">Usuń</button>        
    </div>
</li>
