<li class="list-group-item article-item">
    <div class="article-details">
        <img src="{{article.Img}}" alt="">
        <p class="text-muted">{{article.Date}}</p>
        <p>{{article.Title}}</p>
    </div>
    <div class="buttons">
        <a
      (click)="RouteToEdit(article)"
              class="btn btn-info edit">
        Edytuj</a>
        <a
          (click)="RouteToArticle(article)"
            class="btn btn-primary preview">
           Podgląd</a>
        <button (click)="deleteArticle(article)" class="btn btn-danger delete">Usuń</button>
    </div>
</li>
