@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);

/*body{
  overflow-x: hidden;
  color: #40474e;
  font-family: 'Cinzel', serif;
}*/
/*--- O mnie ---*/

/* Sekcja 2-kolumnowa */
.about-me{
  color: #000;
  margin-top: 95px;
  max-width: 80vw;
  padding-top: 1.5rem;
  z-index: 1;
}
.about-me .me{
  padding: 1rem;
  /* background-color: #e6e6e6; */
  text-align: center;
  justify-content: center;
}
.about p{
  color: #000!important;
  text-align: justify ;
  font-size: 1.4rem!important;
  font-family: 'Lato', 'sans-serif';
}

.container-fluid .img-fluid{
  width: 450px;
  height: 600px;
}
.about-me h1{
  margin-bottom: 4rem;
}

/* Tło Parallaxa */
figure{
  position: relative;
  width: 100%;
  height: 75%;
  margin: 0!important;
}
figure::after{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: inset 120px 100px 250px #000000;
}

.fixed-wrap{
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed{
  background-image: url("/src/assets/Foto/logo.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transform: translateZ(0);
  will-change: transform;
}












/*user profile css*/
/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/
/*Dla widoku containera*/
.container {
  background: #f6f9fb;
}
body {
  background: #f6f9fb;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #f6f9fb;
}

.profile-userpic{
  position:center;
}
.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile-userpic img {
  float: none;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5a7391;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/*css do prawej strony*/

.profile-head .nav-tabs {
  margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}

.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}





/*new section, nav menu*/
.profile-work {
  padding: 14%;
  margin-top: -15%;
}

.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}

.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}

.profile-work ul {
  list-style: none;
}

.profile-tab label {
  font-weight: 600;
}

.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}
.content .main-content{
  margin: 70px 200px 0 200px;
  padding-top: 80px;
}

.content .main-content .recent-title{
  margin: 50px;
  text-align: center;
}

