<hr>
<ul class="media-list">
  <li class="media">
    <a href="#" class="pull-left">
      <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
    </a>
    <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{Comment.date}}</small>
                                </span>
      <strong class="text-success">@{{Comment.author}}</strong>
      <p>
        {{Comment.content}}
      </p>
               </div>
                 </ul>
