

<!--- Two Column Section -->

<div class="container-fluid about-me padding">
  <div class="row padding">
    <div class="col-lg-6 about">
      <h1>Poznajmy się...</h1>
      <p>Mam na imię Rafał. Aktualnie studiuję Inżynierię Systemów na Politechnice Wrocławskiej.
        Choć wiążę swoją przyszłość z zawodem, nic mi nie przeszkodzi w realizacji planu bycia fotografem.
        W moim życiu liczy się nie tylko praca i działanie według schematów z góry mi narzuconych,
        ale w głównej mierze podążanie za marzeniami i robienie tego, co mi sprawia radość.</p>
      <br>
      <p>Od wczesnego dzieciństwa jestem zakochany w fotografii i zawsze pragnąłem fotografować.
        W głównej mierze najtrudniej jest wychwycić moment, który wprowadzi w zachwyt obserwatora.
        Mam nadzieję, że to co robię jest dla was czymś na co chcielibyście zerkać.
      </p>
      <br>
      <p>Dołączcie do obserwowanaia mnie i czerpcie radość z fotografii!!!</p>
      <br>
    </div>
    <div class="col-lg-6 me">
      <img src="../assets/Img/O%20mnie/Ja3.jpg" class="img-fluid" alt="...">



</div>
  </div>
</div>

<!-- Fixed Background Section -->
<figure>
  <div class="fixed-wrap">
    <div id="fixed"></div>
  </div>
</figure>

<!-- Łącznik -->



<!--- Footer -->
<app-footer></app-footer>

