
<div class="wrapper" *ngIf="post">

    <div class="overlay-content">
      <h1 contentEditable role='textbox' aria-multiline='true' class="overlay-title">{{post.Title}}</h1>

    </div>
  </div>
  <div class="post-content">
    <p > {{post.Date}}</p>
    <p >{{post.Author}}</p>
    <div class="shadow-box"></div>
    <div class="post-text">
      <h2>Article Subtitle One</h2>
      <div [innerHTML]="post.Content"></div>
    </div>
  </div>
<div class="container ">
  <div class="row bootstrap snippets bootdeys">
    <div class="col-md-10 col-sm-12 ">
      <div class="comment-wrapper">
        <div class="panel panel-info ">
          <div class="panel-heading">
            Comment panel Max 150 characters!
          </div>
          <div class="panel-body">
            <textarea class="form-control" maxlength="150"[(ngModel)]="defaultValue"  rows="3"  (mouseover)="Clear()" (mouseleave)="UnClear()" #Content></textarea>
            <br>
            <button type="button" class="btn btn-info pull-right" (click)="AddComment(Content.value,post.ID)">Post</button>
            <div class="clearfix"></div>
<!--            <app-comment  *ngFor="let comment of comments" [Comment]="comment" > </app-comment>-->
            <div *ngFor="let item of comments ">
            <hr>
            <ul class="media-list">
              <li class="media">
                <a href="#" class="pull-left">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                </a>
                <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{item.date}}</small>
                                </span>
                  <strong class="text-success">   @{{item.author}}</strong>
                  <p>
                   {{item.content}}
                  </p>
                </div>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>

<app-footer></app-footer>
