<div class="wrapper">
  <div class="image">
    <div class="img-overlay">
      <div class="overlay-content">
        <h1 class="overlay-title">{{post.Tittle}}</h1>
        <p class="overlay-meta"> {{post.Date}}</p>
        <p class="overlay-meta">Author: {{post.author}}</p>
        <!-- <i class="far fa-user"> {{post.author}}</i>
        <i class="far fa-calendar"> {{post.date}}</i>  -->
      </div>
    </div>
  </div>
  <div class="post-content">
    <div class="shadow-box"></div>
    <div class="avatar">
      <img src="http://sintret.com/img/andy.jpg" alt="profile picture" class="avatar">
    </div>
    <div class="post-text"> <p>{{post.Content}}{{post.Content}}{{post.Content}}{{post.Content}}{{post.Content}}
      {{post.Content}}{{post.Content}}{{post.Content}}{{post.Content}}{{post.Content}}</p></div>

  </div>
</div>


<app-footer></app-footer>
