
.wrapper .image{
  background: url("src/assets/Foto/burza.png") no-repeat center center/cover;
  height: 670px;
  position: relative;
}

.wrapper .image .img-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 50px 0;
  width: 100%;
  text-align: left;
}

.wrapper .image .img-overlay .overlay-content,
.wrapper .image .img-overlay p.overlay-meta{
  margin: 0 auto;

  max-width: 780px;
  color: white;
}
.wrapper .image .img-overlay .overlay-content{
  margin-bottom: 80px;
}
.wrapper .overlay-title{
  font-weight: bold;
  font-size: 45px;
}
.wrapper .overlay-meta{
  font-size: 20px;
}

.wrapper p.overlay-meta{
  margin-bottom: .5rem;
}
.wrapper .post-content .shadow-box{
  position: absolute;
  height: 90px;
  top: 78px;
  width: 100%;
}

.wrapper .post-content .shadow-box::before{
  content: url('src/assets/Foto/shadow.png');
  left: -8px;
  position: absolute;
}

.wrapper .post-content .shadow-box::after{
  content: url('src/assets/Foto/shadow.png');
  right: -8px;
  position: absolute;
  transform: rotateY(180deg);
}

.wrapper .post-content{
  display: grid;
  grid-template-columns: 1fr 7fr;
  max-width: 1100px;
  margin: -80px auto 30px auto;
  background-color: white;
  position: relative;
  padding: 20px;
  padding-right: 50px;
  border-radius: 3px;
}
.wrapper .post-content .avatar{
  text-align: center;
}
.wrapper .post-content .avatar img{
  border-radius: 50%;
}
.wrapper .post-content p{
  text-align: justify;
  line-height: 2;
  font-size: 18px;
}

.wrapper{
  font-family: 'Lora', serif;
}
.wrapper .image{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 60vh;
  position: relative;
  padding-bottom: 30px;
}
.wrapper .overlay-content{
  padding: 250px 0 0;
  width: 85vw;
  margin: 0 auto;
  text-align: left;
  color: white;
}
h1.overlay-title{
  font-weight: bold;
  font-size: 3.5rem;
  text-transform: uppercase;
}
p.overlay-meta{
  font-size: 1.3rem;
  margin-bottom: .5rem;
}

.post-content .shadow-box{
  position: absolute;
  height: 90px;
  top: 78px;
  left: 0;
  width: 100%;
}

.post-content .shadow-box::before{
  content: url('../../assets/Foto/shadow.png');
  left: -8px;
  position: absolute;
}

.post-content .shadow-box::after{
  content: url('../../assets/Foto/shadow.png');
  right: -8px;
  position: absolute;
  transform: rotateY(180deg);
}

.post-content{
  max-width: 80vw;
  font-family: 'Lora', serif;
  margin: -80px auto 30px auto;
  background-color: white;
  text-align: justify;
  position: relative;
  padding: 3rem;
  border-radius: 3px;
  box-shadow: -34px 30px 16px -32px rgba(0,0,0,0.75), 34px 30px 16px -32px rgba(0,0,0,0.75);
  -webkit-box-shadow: -34px 30px 16px -32px rgba(0,0,0,0.75), 34px 30px 16px -32px rgba(0,0,0,0.75);
  -moz-box-shadow: -34px 30px 16px -32px rgba(0,0,0,0.75), 34px 30px 16px -32px rgba(0,0,0,0.75);
}
.post-content h1,
.post-content h2,
.post-content h3{
  font-family: 'Lora', serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.post-content p{
  text-align: justify;
  line-height: 2;
  font-size: 1.5rem;
  font-weight: 300;
}
.post-content img{
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
}
.bg-img
{

  background: url("../../assets/Foto/postBG.jpg") no-repeat center center fixed;;
  min-height: 101vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.media-body {
  padding: 5px 5px 5px 5px;
  background-color: aliceblue;
}
