<div class="wrapper">
  <div class="container">
    <br>
    <h2>Załóż konto</h2>
    <app-alert></app-alert>
    <div *ngIf="messageA; then alertA; "></div>
    <ng-template #alertA>
      <div  *ngIf="messageA"  class="alert alert-success">{{messageA}}</div>
    </ng-template>
    <div *ngIf="messageB; then alertB; "></div>
    <ng-template #alertB>
      <div  *ngIf="messageB"  class="alert alert-danger">{{messageB}}</div>
    </ng-template>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">Imię</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Nazwisko</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Nazwa użytkownika</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary btn-register">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Zarejestruj się
        </button>
      </div>
    </form>
    <span><a routerLink="/log-in" class="btn btn-link">Powrót</a></span>
  </div>

</div>
