







<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-pause="false">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image: url(../assets/Foto/aleja-kaszt.jpg);" data-interval="8000">
      <div class="carousel-caption d-none d-md-block">
        <h1>Witaj w świecie fotografii!</h1>
        <h3>Znajdziesz tu to, czego szukasz.</h3>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url(../assets/Foto/aleja-kaszt.jpg);" data-interval="5000">
    </div>
    <div class="carousel-item" style="background-image: url(../assets/Foto/aleja-kaszt.jpg);" data-interval="5000">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

<!--Belka pod slajderem-->
<div class="jumbotron jumbotron-fluid">
  <div class="col-12 narrow text-center">
    <h1 class="display-4">Parę słów o moim zawodzie</h1>
    <p class="lead">Jesteśmy osobami których łączy pasja fotografowania. Po aparat sięgamy nie tylko w pracy. Cechuje
      nas dążenie do perfekcji i próby uchwycenia piękna chwili.</p>
  </div>
</div>

<!-- Opis-->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Galerie</h1>
    </div>
    <hr class="dark">
  </div>
</div>

<!--&lt;!&ndash;Karty galerii&ndash;&gt;-->

<!--<div class="card-deck">-->
<!--  <div class="card">-->
<!--    <div class="card-img">-->
<!--      <a href="#"><img class="card-img-top" src="../assets/Img/Wesela/001%20(1).jpg" alt="Wesela"></a>-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      <h3 class="card-title">Wesela</h3>-->
<!--      <p class="card-text">To jeden z najczęściej wspominanych chwili w życiu. Dzięki nam wspominanie stanie się-->
<!--        jeszcze łatwiejsze.</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="card">-->
<!--    <div class="card-img">-->
<!--      <img class="card-img-top" src="../assets/Img/Budynki/001%20(1).jpg" alt="Zabytki">-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      <h3 class="card-title">Budynki</h3>-->
<!--      <p class="card-text">Piękno, ogrom, historia. To cechuje większość budynków Starego Kontynentu. Przybliżymy Ci-->
<!--        ten temat wizualnie...</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="card">-->
<!--    <div class="card-img">-->
<!--      <img class="card-img-top" src="../assets/Img/Chrzciny/001%20(1).jpg" alt="Chrzciny">-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      <h3 class="card-title">Chrzciny</h3>-->
<!--      <p class="card-text">Dzieci tego nie pamiętają, lecz papier wszystko zapamięta. Pamiątka tego dnia może być-->
<!--        zawsze z nami obecna.</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card-deck">-->
<!--  <div class="card">-->
<!--    <div class="card-img">-->
<!--      <img class="card-img-top" src="../assets/Img/Krajobrazy/001%20(1).jpg" alt="Krajobrazy">-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      <h3 class="card-title">Krajobrazy</h3>-->
<!--      <p class="card-text">Wolność, natura, inspiracje. My tak traktujemy otaczający nas świat. Przekonaj się jaki on-->
<!--        piękny.</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="card">-->
<!--    <div class="card-img">-->
<!--      <img class="card-img-top" src="../assets/Img/O%20mnie/Ja1.jpg" alt="Card image cap">-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      <h3 class="card-title">Portrety</h3>-->
<!--      <p class="card-text">Lata mijają. Z nami możesz zatrzymać czas.</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="card">-->
<!--    <div class="card-img">-->
<!--      <img class="card-img-top" src="../assets/Img/Martwa_natura/001%20(1).jpg" alt="Card image cap">-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      <h3 class="card-title">Makro</h3>-->
<!--      <p class="card-text">Małe jest piękne. Nieprawdaż?</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--Stopka -->
<app-footer></app-footer>
