
.section-title{
    margin: 2rem 0;
    text-align: center;
}
form{
    padding: 2rem;
    max-width: 90%;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin: 0 auto;
    box-shadow: 2px 1px 8px -2px;
}

/* CKEDITOR */
:host ::ng-deep .ck-editor__editable_inline{
    min-height: 300px;
}
input:focus{
    outline: none;
    box-shadow: none;
    border-color: var(--clr-main);
    box-shadow: 0 0 0 .2rem rgba(41, 194, 168, .25);
}
.image-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}
.image-details img{
    max-width: 100%;
    height: auto;
    display: block;
}
::ng-deep .ck-editor__editable {
   min-height: 200px !important;
 }
