<div class="container"  *ngIf="article" >
    <h2 class="section-title" >Edytuj artykuł</h2>

    <form (ngSubmit)="articleSubmit() ">
        <div class="mb-3">
            <label>Tytuł</label>
            <input
              (keyup)="onKey($event)"
                type="text"
                class="form-control"
                name="t"
                [ngModel]="article.Title">
        </div>
        <div class="custom-file mb-4">
            <input
                type="file"
                id="image"
                class="custom-file-input"
                (change)="onFileChange($event)">
            <label
                for="image"
                class="custom-file-label"
                data-browse="Przeglądaj">Dodaj zdjęcie artykułu</label>
        </div>
      <div class="image-details" *ngIf="article.Img">
        <img [src]="article.Img" style="height: 300px; width: 500px;">

        <p *ngIf="theFile">{{theFile.name}}</p>
        <p *ngIf="article.Img">{{article.Img}}</p>
      </div>

        <div class="mb-3">
            <label for="content">Treść artykułu</label>
            <ckeditor
              name="content"
              (ready)="onReady($event)"
              [editor]="Editor"
              [tagName]="tagname"
              [ngModel]="article.Content"
              (change)="onChange($event)">

            </ckeditor>
        </div>
        <button type="submit" class="btn btn-info">Opublikuj</button>
    </form>
</div>
