.content{
  background: rgba(236, 236, 236,0.5);

  padding-bottom: 20px;

}

.content .main-content{
  margin: 70px 200px 0 200px;
  padding-top: 30px;
}

.content .main-content .recent-title{
  margin: 20px;
  text-align: center;
}
hr.dark{
  padding: 20px 0;
}

.bg-img
{
  padding-top: 100px;
  background: url("../../assets/Foto/postBG.jpg") no-repeat center center fixed;;
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
