<section class="recent-articles">
  <div class="container">

    <h2 class="section-header">Recent articles</h2>
    <p class="section-info">Some actual articles here</p>

    <hr class="separator">
    <hr class="separator">

    <div class="card-deck">
        <article class="card article-snippet" *ngFor="let article of articles | paginate: config">
            <img src="{{article.image.imageSrc}}" alt="" class="card-img-top">
            <div class="article-review">
                <h3 class="card-title article-title">{{article.title}}</h3>
                <p class="card-text article-meta"><small class="text-muted"><i class="fas fa-user"></i> {{article.author}} <i class="fas fa-calendar"></i> {{article.date}}</small></p>
                <p class="article-info">{{(article.content.length >300) ? (article.content | slice:0:300)+'...':(article.content)}} </p>
                <div class="btn-wrapper">
                  <a routerLink="/detail/{{article.id}}" class="btn">Read More</a>
                </div>
            </div>
        </article>
    </div>
  </div>
</section>

<div class="container pagination-container">
  <pagination-controls 
    class="pagination"
    [maxSize]="maxSize"
    [autoHide]="autoHide"
    [responsive]="responsive"
    [previousLabel]="labels.previousLabel"
    [nextLabel]="labels.nextLabel"
    (pageChange)="pageChanged($event)">
</pagination-controls>
</div>
