<div class="container">
    <div class="content" *ngIf="album">
        <div class="album-details">
            <h3>{{album.Title}}</h3>
            <p>{{album.Description}}</p>
        </div>
        <div class="images">
            <h4>Zdjęcia</h4>
            <div class="grid">
                <div class="image" *ngFor='let image of album.ImgPaths'>
                    <img class="zoom" src="{{image.Path}}" alt="asd">
                  <a (click)="RemoveImg(image)"  class="btn btn-danger">Usuń</a>

                </div>
                <form [formGroup]="imageForm" (ngSubmit)="imageSubmit()">
                    <label for="image" class="add-image-label">
                        <input
                            type="file"
                            formControlName="image"
                            id="image"
                            class="custom-file-input"
                            (change)="onFileChange($event)">
                    </label>
                </form>

            </div>
        </div>
    </div>
</div>
